.container {
    display: flex; /* This defines the container as a flex container */
    flex-direction: column; /* Horizontal alignment of flex items (row or column) */
    justify-content: center; /* Horizontally center flex items */
    align-items: center; /* Vertically center flex items */
    height: 100vh; /* Make the container take up the full viewport height */
    overflow: scroll;
  }

.chart{
    flex: 1; /* This allows items to grow and shrink equally */
    text-align: center;
    padding: 20px;
    border: 3px solid green;
    margin: 10px;
}

/* Canvas styles (adjust as needed) */
canvas {

    border: 5px solid red;
    width: 100%; /* Canvas width 100% of its parent div */
    height: 100%; /* Canvas height 100% of its parent div */
  }