* {
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    font-family: UbuntuLight;
    src: url(font/UbuntuL.TTF);
  }
  
  .sideBar,
  .wrapper {
    background-color: rgb(50, 50, 50);
    border-bottom: 50px;
    height: 100%;
    width: 200px;
    color: rgb(120, 200, 200);
    top: 0;
    left: 0;
    position: fixed;
  }
  
  .sideBar button.click:nth-child(n) {
    margin-bottom: 12px;
    margin-top: 12px;
    background-color: rgb(50, 50, 50);
    transition: background-color 0.33s ease-out, padding 0.25s ease-out, border 0.33s ease-out;
    display: inline-block;
    width: 170px;
    margin-left: 15px;
    padding-left: 5px;
    border-radius: 8px;
    height: 40px;
    vertical-align: middle;
    text-align: left;
    font-family: UbuntuLight, sans-serif;
    font-size: 1.5em;
    color: rgb(120, 200, 200);
  }
  
  #logo {
    height: 100px;
  }
  
  .sideBar button.click:nth-child(n):hover {
    background-color: rgb(70, 70, 70);
    transition: background-color 0.33s ease-in, border 0.33s ease-in, padding-left 0.25s ease-in;
    border-radius: 10px;
    padding-left: 15px;
    vertical-align: middle;
  }
  
  .searchBtn {
    display: flex;
    background-color: rgb(200, 200, 200);
    height: 40px;
    border: rgb(200, 200, 200);
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  #searchBar {
    background-color: rgb(200, 200, 200);
    border: rgb(200, 200, 200);
    border-radius: 10px;
  }
  
  .sideBar .input {
    font-size: 16px;
  }
  
  .input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1em;
    padding-right: 30px;
  }
  
  .infoBar {
    display: flex;
    background-color: black;
    color: #827d7d;
    text-align: left;
    margin-left: 200px;
  }
  
  .infoBar>th {
    margin: 10px;
    padding: 20px;
    background-color: white;
  }
  
  .infoBar th {
    padding: 10px;
  }
  
  .infoBar tr.topBar th {
    padding: 0px;
    font-family: UbuntuLight, sans-serif;
    font-weight: normal;
    font-size: 20px;
  }
  
  .infoBar tr.topBar td {
    padding: 0px;
    font-family: UbuntuLight, sans-serif;
    font-weight: normal;
    font-size: 48px;
  }
  
  div#greeting {
    display: flex;
    margin-left: 200px;
    text-align: center;
    padding-top: 30px;
    height: 110px;
    font-family: UbuntuLight, sans-serif;
    background-color: white;
  }
  
  div#greeting h1 {
    font-size: 400%;
    color: rgb(0, 100, 100);
    padding-left: 20px;
  }
  
  .click,
  .search {
    background-color: transparent;
    border: 0;
    font-size: 1.1em;
    color: white;
    cursor: pointer;
  }
  
  .portfolio {
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    border: 2px solid #120d0d;
    justify-content: space-between;
    min-height: 100vh;
    margin-left: 200px;
    font-size: 1.2em;
    background-color: white;
  }
  
  .portfolio p:nth-child(2) {
    margin-top: 30px;
  }
  
  .portfolio p:nth-child(4) {
    margin-top: 20px;
  }
  
  .stockList {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(20,20,20);
    color: green;
  }
  
  .stockList table {
    border-collapse: separate;
    margin-top: 20px;
    border-spacing: 20px;
  }
  
  .stocks th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
  }
  
  .stocks td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .stock tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .stocks tr:hover {
    background-color: #d8caca;
    transition: background-color 0.5s ease-in;
  
  }